.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 601px auto auto;
  grid-gap: 3px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m c c c c c c"
    "f f f f f f f f f f f f";
  height: fit-content;
}
.header {
  grid-area: h;
  background-color: blueviolet;
  height: fit-content;
}
.menu {
  grid-area: m;
  background-color: blueviolet;
}
.content {
  grid-area: c;
  background-color: blueviolet;
}
.footer {
  grid-area: f;
  background-color: chocolate;
}
ul {
  display: flex;
  list-style-type: none;
  background-color: blueviolet;
  margin-left: 35%;
}
nav {
  background-color: blueviolet;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
}
li {
  color: white;
  margin-left: 50%;
  margin-top: 20px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero {
  background-image: url("../img/hero1.jpg");
  background-repeat: no-repeat;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.salute {
  color: brown;
  font-size: 150px;
}
.logo {
  height: 70px;
  width: 70px;
}
.media41 {
  border-radius: 8px;
  height: auto;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.btn {
  margin: 250px 200px;
}
.btn1 {
  height: 60px;
  width: 180px;
  background-color: blueviolet;
  border-radius: 8px;
  border: none;
  margin-bottom: 40px;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.img-logo {
  height: 50px;
  width: 70px;
}
.app {
  margin-left: 35%;
}
